@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #4d608a;
}

::-webkit-scrollbar-thumb {
  background-color: #c66f0b;
  border-radius: 2px;
}

.loaderr {
  background: #000;
  background: linear-gradient(45deg, #0d395fc7, #68b0e2b8);
  backdrop-filter: blur(100px);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  transition: 1s ease all;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav {
  position: absolute;
  width: 80%;
  left: 10%;
  z-index: 99;
  top: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #142361;
  border-bottom: 2px solid #4d608a;
  transition: 0.5s all ease-in-out;
}

nav.active {
  position: fixed;
  width: 90%;
  left: 5%;
  z-index: 99;
  top: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #142361;
  border-bottom: 2px solid #4d608a;
  transition: 0.5s all ease-in-out;
  background-color: #ffffff5b;
  backdrop-filter: blur(20px);
  padding: 0 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 5px 5px 24px 1px rgba(20, 35, 97, 0.603);
  box-shadow: 5px 5px 24px 1px rgba(20, 35, 97, 0.479);
}

.brand-logo {
  font-size: 2.5rem;
  width: 150px;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: #142361;
}

.links {
  width: 500px;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  transition: 0.5s all ease-in-out;
}

.links a {
  color: #0f1d57;
  text-decoration: none;
}

.link {
  transition: 0.3s all ease;
  cursor: pointer;
}

.link:hover {
  color: #e48111;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #fda90b;
  margin-bottom: 4px;
  border-radius: 5px;
  transition: 0.5s all ease;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.5s all ease;
}

.hamburger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active div:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 986px) {
  .hamburger {
    display: block;
  }

  .links {
    position: absolute;
    top: -1000px;
    background-color: rgba(255, 255, 255, 0.911);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 450px;
    font-size: 1.5em;
    padding-top: 80px;
    flex-direction: column;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: -1;
    -webkit-box-shadow: 5px 5px 24px 1px rgba(20, 35, 97, 0.562);
    box-shadow: 5px 5px 24px 1px rgba(20, 35, 97, 0.575);
  }

  .navLinkButton {
    width: 80%;
  }

  .links.active {
    top: 0;
  }

  .brand-logo {
    margin-left: 20px;
  }
}

.navLinkButton {
  background: linear-gradient(
    90deg,
    rgba(27, 51, 111, 1) 0%,
    rgba(15, 29, 87, 1) 100%
  );
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
}

.header {
  height: 100vh;
  background: url("../Images/blogBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-shape-divider-bottom-1631284471 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: svg 20s infinite linear;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631284471 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1631284471 .shape-fill {
  fill: #ffffff;
}

.header-content {
  width: 65%;
  text-align: center;
}

.header-content h1 {
  color: #142361;
  font-size: 2.5rem;
}

.textHighlight {
  color: #e48111;
}

.header-content p {
  width: 60%;
  color: #3355a0;
  margin: 0 auto;
}

.scrollButton {
  background: rgb(20, 36, 94);
  background: linear-gradient(
    90deg,
    rgba(20, 36, 94, 1) 0%,
    rgba(5, 14, 47, 1) 50%,
    rgba(24, 60, 125, 1) 50%,
    rgba(9, 23, 50, 1) 100%
  );
  transition: 0.5s ease-in-out;
  background-size: 200%;
  background-position: left;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  display: flex;
  cursor: pointer;
}

.scrollButton:hover {
  background-position: right;
  transform: scale(1.05);
}

.scrollContainer {
  position: absolute;
  justify-self: center;
  bottom: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.scrollButton img {
  color: #e48111;
  margin-right: 10px;
  width: 25px;
}

.blogsContainer {
  margin-top: 100px;
  height: min-content;
  padding-bottom: 250px;
}

.blogs {
  position: relative;
}

.blog {
  width: 70%;
  margin: 100px 100px;
  margin-bottom: 0px;
  background-color: #f9fcff;
  -webkit-box-shadow: 5px 5px 19px 1px rgba(20, 35, 97, 0.28);
  box-shadow: 5px 5px 19px 1px rgba(20, 35, 97, 0.28);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease all;
}

.blog:hover {
  transform: scale(1.05);
}

@keyframes svg {
  0% {
    width: 100%;
  }

  50% {
    width: 300%;
  }

  100% {
    width: 100%;
  }
}

.image {
  width: 25%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.viewButton {
  background: rgb(20, 36, 94);
  background: linear-gradient(
    90deg,
    rgba(20, 36, 94, 1) 0%,
    rgba(5, 14, 47, 1) 50%,
    rgba(24, 60, 125, 1) 50%,
    rgba(9, 23, 50, 1) 100%
  );
  transition: 0.5s ease-in-out;
  background-size: 200%;
  background-position: left;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease all;
}

.viewButton:hover {
  color: #e0861e;
  background-position: right;
}

.date {
  font-size: 0.9rem;
}

.details h2 {
  font-size: 1.3rem;
  color: #142361;
}

.details p {
  font-size: 1rem;
  margin-top: 20px;
  color: #4d608a;
}

.custom-shape-divider-bottom-1631607238 {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: svg 20s infinite linear;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1631607238 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-bottom-1631607238 .shape-fill {
  fill: #142361;
}

footer {
  background: #142361;
  color: white;
}

.footerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerDescription {
  border-right: 2px solid rgba(255, 255, 255, 0.281);
  margin: 50px;
  margin-right: 0;
  padding-right: 50px;
  width: 55%;
  height: min-content;
}

.footerContact {
  margin: 50px;
  width: 45%;
  text-align: center;
}

.contactOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

.footerPara,
.contactPara {
  color: #a4b9e7;
}

.footerCopyright {
  background: #ca7717;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerCopyright p span {
  color: #142361;
  font-weight: 500;
}

.contactOption img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 985px) {
  .footerDetails {
    flex-direction: column;
  }

  .footerDescription {
    border: none;
    border-bottom: 2px solid #a4b9e785;
    width: 90%;
    padding: 0 0 50px 0;
  }

  .footerContact {
    margin: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 830px) {
  .footerDescription {
    margin: auto;
  }

  .footerContact {
    width: 80%;
    margin-top: 50px;
  }

  .contactOptions {
    justify-content: space-between;
  }

  .footerCopyright {
    height: min-content;
    text-align: center;
    padding: 0.5rem 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media screen and (max-width: 550px) {
  .images {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 150px;
  }

  .custom-shape-divider-bottom-1631607238 {
    width: 150%;
  }

  .header {
    padding: 22vh 0;
    height: min-content;
  }

  .destinations {
    grid-template-columns: repeat(auto-fit, 355px);
    margin-bottom: 100px;
  }

  .places-content {
    margin: auto;
    width: 95%;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content {
    width: 90%;
  }

  .header-content p {
    width: 80%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1140px) {
  .blogsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 50px;
    align-items: stretch;
    justify-content: center;
  }

  .blog {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .details h2 {
    font-size: 1.5rem;
  }

  .details p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .image {
    width: 350px;
    height: auto;
    border-radius: 10px;
  }
}

.swal2-confirm{
  background-color: #142361 !important;
}